<nav class="navbar navbar-expand-lg dark - bg-dark ">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: white;" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: white;" routerLink="/Aboutme">About Section</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color: white;" routerLink="/skills">Technical skills </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="/project"> Projects </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="/blog"> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="/resume">Resume</a>
        </li>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon style="    margin-left: 700px;;color: white;" (click)="logout()">logout</mat-icon>
        </button>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-4" style="margin-top: 91px">
      <h1 style=" margin-left: 77px;">
        IZON GLOF
      </h1>
      <p>
        MOBILE APP SHARABLE SCORECARD<br>
        IZON CREATED AN INTUITIVE AND FUN TO USE SCORECARD FOR ALL GOLFERS.<br>
        In addition to having a basic digital scorecard, we have added a Shot Tracker feature for those
        wanting<br>
        to gain even more information out of their round.<br>

        Rather than being reliant on multiple disparate apps to track, each golf course can offer their
        golfers<br>
        the ability to track their putts, fairways hit and greens hit in regulation. All of this data can
        then<br>
        be stored in the Cloud via the golfers IZON Mobile App, creating a quick reference for the golfer to<br>
        refer to each time they visit a particular golf course. In addition, each golfer now has one
        repository<br>
        in which to keep all of their rounds to compare past rounds, reference for playing trends or share
        with<br>
        their golf coach prior to their next lesson<br>
      </p><br>
      <button type="button" class="btn btn-secondary" style=" margin-left: 77px;" data-bs-toggle="modal"
        data-bs-target="#exampleModal">View Details</button>
    </div>
    <div class="col-4" style="margin-top: 91px">
      <h1 style=" margin-left:139px;">
        AGP
      </h1>
      <p>
        The AGP was developed by Intel in the year 1996 and was launched in Socket 7 Intel P5 Pentium and Slot
        1<br>
        P6 Pentium II processors. Gradually everyone started using it. Chipsets like VIA Apollo VP3, SiS<br>
        5591/5592, and the ALI Aladdin V were the first Socket 7 chipsets to support AGP. Early AGP boards
        used<br>
        graphics processors built around Peripheral Component Interconnect (PCI) and were simply bridged to
        AGP.<br>
        It can be said that the AGP is built from the PCI that PCI is the base. Bridging didn’t help the
        cards<br>
        benefit much from the new bus except for the increased 66 MHz bus clock and the doubled bandwidth
        over<br>
        PCI. Intel’s i740 was explicitly designed to exploit the new features of AGP. In fact, it was
        designed<br>
        to texture only from AGP memory.
      </p><br>
      <button type="button" class="btn btn-secondary" style=" margin-left: 100px;" data-bs-toggle="modal"
        data-bs-target="#exampleModal1">View Details</button>
    </div>
    <div class="col-4" style="margin-top: 91px">
      <h1 style=" margin-left:101px;">
        Reach Teach
      </h1>
      <p>
        Reach to Teach works in partnership with State Governments to strengthen the quality of teaching and<br>
        learning outcomes in government schools. We work at a systemic level building upon our extensive
        work<br>
        with communities in the field for over a decade. Central to our work is fostering teacher agency.<br>
        Appropriate technology is the enabler that allows us the farthest outreach. Reach to Teach has its<br>
        corporate office in Gurugram, with project offices located in focus states.<br>
        Every child will have access to quality education to enable them to become confident social citizens<br>
        with improved life chances<br>
        We strive to improve education outcomes by making learning joyful, working with governments, partners,<br>
        parents and communities, with foundational learning skills at the core.<br>
      </p><br>

      <button type="button" class="btn btn-secondary" style=" margin-left: 125px;" data-bs-toggle="modal"
        data-bs-target="#exampleModal2">View Details</button>
    </div>
  </div>
</div>

<br>
<button type="button" class="btn btn-secondary" style="margin-left: 584px;" routerLink="/blog">View More
  Details</button>

<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> IZON GLOF</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            MOBILE APP SHARABLE SCORECARD<br>
            IZON CREATED AN INTUITIVE AND FUN TO USE SCORECARD FOR ALL GOLFERS.<br>
            In addition to having a basic digital scorecard, we have added a Shot Tracker feature for those
            wanting<br>
            to gain even more information out of their round.<br>

            Rather than being reliant on multiple disparate apps to track, each golf course can offer their
            golfers<br>
            the ability to track their putts, fairway hit and greens hit in regulation. All of this data can
            then<br>
            be stored in the Cloud via the golfers IZON Mobile App, creating a quick reference for the golfer to<br>
            refer to each time they visit a particular golf course. In addition, each golfer now has one
            repository<br>
            in which to keep all of their rounds to compare past rounds, reference for playing trends or share
            with<br>
            their golf coach prior to their next lesson<br>
          </p><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> AGP</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            The AGP was developed by Intel in the year 1996 and was launched in Socket 7 Intel P5 Pentium and Slot
            1<br>
            P6 Pentium II processors. Gradually everyone started using it. Chipsets like VIA Apollo VP3, SiS<br>
            5591/5592, and the ALI Aladdin V were the first Socket 7 chipsets to support AGP. Early AGP boards
            used<br>
            graphics processors built around Peripheral Component Interconnect (PCI) and were simply bridged to
            AGP.<br>
            It can be said that the AGP is built from the PCI that PCI is the base. Bridging didn’t help the
            cards<br>
            benefit much from the new bus except for the increased 66 MHz bus clock and the doubled bandwidth
            over<br>
            PCI. Intel’s i740 was explicitly designed to exploit the new features of AGP. In fact, it was
            designed<br>
            to texture only from AGP memory.
          </p><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-dialog modal-dialog-centered">
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Reach Teach</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Reach to Teach works in partnership with State Governments to strengthen the quality of teaching and<br>
            learning outcomes in government schools. We work at a systemic level building upon our extensive
            work<br>
            with communities in the field for over a decade. Central to our work is fostering teacher agency.<br>
            Appropriate technology is the enabler that allows us the farthest outreach. Reach to Teach has its<br>
            corporate office in Gurugram, with project offices located in focus states.<br>
            Every child will have access to quality education to enable them to become confident social citizens<br>
            with improved life chances<br>
            We strive to improve education outcomes by making learning joyful, working with governments, partners,<br>
            parents and communities, with foundational learning skills at the core.<br>
          </p><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

